<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <a href="https://github.com/ericandrewlewis/say-yes-to-https"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="username">The content of this site is on Github</span></a>.
        </ul>
      </div>
    </div>
  </div>

</footer>
